/* FAQ accordion style/transition */
.accordion {
  cursor: pointer;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Short and Long Story buttons */
.sb {
  background-color: white;
  cursor: pointer;
}

.sbActive, .sb:hover {
  background-color:#3d8b40;
  color: white;
}