#a {
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#b {
    width:200px;
    height:200px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c {
    width:400px;
    float: left;
}